.note {
	display: inline-flex;
	align-items: center;
	padding: 10px;
	color: #EDF0FF;
	background-color: #F4F5FF6B;
	border-left: 4px solid #DFE3FF82;
	border-radius: 10px;
	min-width: 200px;
	min-height: 40px;
}